h2[title=baslik1]{
    color: red;
}

p[title="paragraf1"]{
    color: blue;
}

a[target="_blank"]{
    color: brown;
}

input[type="text"]{background-color: blueviolet;}

input[type="button"]{
    background-color: aqua;
}